@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="aboutus">
    <div class="container">
        <div class="infoboxes">
            <div class="visitus">
                <button class="clickbtn"><i class="fa-regular fa-location-dot"></i></button>
                <div class="texts">
                    <div class="title">Visit us</div>
                    <div class="adress">Sveavägen 31</div>
                    <div class="postcode">111 34 STOCKHOLM</div>
                </div>
            </div>
            <div class="callus">
                <button class="clickbtn"><i class="fa-regular fa-phone"></i></button>
                <div class="texts">
                    <div class="title">Call us</div>
                    <div class="phonenm">+46 (8) 121 470 50</div>
                    <div class="phonenm2">+46 (8) 121 470 51</div>
                </div>
            </div>
            <div class="emailus">
                <button class="clickbtn"><i class="fa-regular fa-envelope"></i></button>
                <div class="texts">
                    <div class="title">Email us</div>
                    <div class="email">info@crito.com</div>
                    <div class="email2">support@crito.com</div>
                </div>
            </div>
        </div>
    </div>
</section>