@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="copyright">
    <div class="line"></div>
    <div class="container">
        <div class="textinfo">
            <div class="copytext">© 2023 Crito - Consulting Company Inc. All Rights Reserved.</div>
            <div class="icons">
                <a class="menuicon"><i class="fa-brands fa-facebook"></i></a>
                <a class="menuicon"><i class="fa-brands fa-twitter"></i></a>
                <a class="menuicon"><i class="fa-brands fa-instagram"></i></a>
                <a class="menuicon"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</section>