@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="bottommenu">
    <div class="container">
        <div class="menuinfo">
            <div class="logoinfo">
                <img src="/Images/Logos/logotype-white.svg">
                <div class="textinfo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</div>
            </div>
            <div class="companyinfo">
                <div class="title">Company</div>
                <h3>About</h3>
                <h3>Featured</h3>
                <h3>Works</h3>
                <h3>Career</h3>
            </div>
            <div class="helpinfo">
                <div class="title">Help</div>
                <h3>Customer Support</h3>
                <h3>Delivery Details</h3>
                <h3>Terms & Conditions</h3>
                <h3>Privacy Policy</h3>
            </div>
            <div class="resourcesinfo">
                <div class="title">Resources</div>
                <h3>Free eBooks</h3>
                <h3>Development Tutorial</h3>
                <h3>How to - Blog</h3>
                <h3>Youtube Playlist</h3>
            </div>
            <div class="linkinfo">
                <div class="title">Link</div>
                <h3>Free eBooks</h3>
                <h3>Development Tutorial</h3>
                <h3>How to - Blog</h3>
                <h3>Youtube Playlist</h3>
            </div>
        </div>
    </div>
    <div class="imageclass">
        <img src="/Images/background/background-lines-right.svg">
    </div>
</section>