@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="menubar">
    <div class="container">
        <img class="logo" src="/Images/logos/logotype.svg"> 
        <div class="menu">
            <div class="highmenu">
                <div class="menuinfo">
                    <a class="menuinfoicon"><i class="fa-regular fa-phone-volume"></i> +46 (8) 121 470 50</a>
                    <div class= "vertical"></div>
                    <a class="menuinfoicon"><i class="fa-thin fa-envelope"></i> info@crito.com</a>
                    <div class= "vertical"></div>
                    <a class="menuinfoicon"><i class="fa-light fa-location-dot"></i> Sveavägen 31, 111 34 STOCKHOLM</a>
                </div>
                <div class="icons">
                    <a class="menuicon" href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a class="menuicon" href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a class="menuicon" href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a class="menuicon" href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <ul class="sideline"></ul>

            <div class="topmenu">
                <nav class="topmenu-links">
                    <a class="menulink" href="/">Home</a>
                    <a class="menulink" href="#">Service</a>
                    <a class="menulink" href="/news">News</a>
                    <a class="menulink" href="/contact">Contact</a>
                </nav>
                <button class="loginbtn">Login <i class="fa-solid fa-arrow-up-right"></i></button>
            </div>
        </div>
    </div>
</section>