@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="newsmenu">
    <div class="container">
        <div class="textset">
            <div class="boldtext">Our News & Articles</div>
        </div>
        <div class="content">
            <div class="classroom">
                <a href=/news/articles/article1><img src="/Images/Articles/article1Image.jpg"></a>
                <div class="datebox">
                    <div class="date">25</div>
                    <div class="month">Mar</div>
                </div>
                <div class="classheader">Business</div>
                <div class="classtitle">How To Use Digitalization In The Classroom</div>
                <div class="classdes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
            </div>
            <div class="chatgpt">
                <a href=/news/articles/article2><img src="/Images/Articles/article2Image.jpg"></a>
                <div class="datebox">
                    <div class="date">17</div>
                    <div class="month">Mar</div>
                </div>
                <div class="chatgptheader">Business</div>
                <div class="chatgpttitle">How To Implement Chat GPT In Your Projects</div>
                <div class="chatgptdes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
            </div>
            <div class="design">
                <a href=/news/articles/article3><img src="/Images/Articles/article3Image.jpg"></a>
                <div class="datebox">
                    <div class="date">13</div>
                    <div class="month">Mar</div>
                </div>
                <div class="designheader">Business</div>
                <div class="designtitle">The Guide To Support Modern CSS Design</div>
                <div class="designdes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
            </div>
            <div class="design">
                <a href=/news/articles/article4><img src="/Images/Articles/article4Image.jpg"></a>
                <div class="datebox">
                    <div class="date">12</div>
                    <div class="month">Mar</div>
                </div>
                <div class="designheader">Business</div>
                <div class="designtitle">Why You Need To Implement The Five S's</div>
                <div class="designdes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
            </div>
            <div class="design">
                <a href=/news/articles/article5><img src="/Images/Articles/article5Image.jpg"></a>
                <div class="datebox">
                    <div class="date">07</div>
                    <div class="month">Mar</div>
                </div>
                <div class="designheader">Business</div>
                <div class="designtitle">Get More Involved With Your End Users</div>
                <div class="designdes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
            </div>
            <div class="design">
                <a href=/news/articles/article6><img src="/Images/Articles/article6Image.jpg"></a>
                <div class="datebox">
                    <div class="date">02</div>
                    <div class="month">Mar</div>
                </div>
                <div class="designheader">Business</div>
                <div class="designtitle">Guided Tour Of Our New Head Office In Stockholm</div>
                <div class="designdes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
            </div>
            <div class="design">
                <a href=/news/articles/article7><img src="/Images/Articles/article7Image.jpg"></a>
                <div class="datebox">
                    <div class="date">28</div>
                    <div class="month">Feb</div>
                </div>
                <div class="designheader">Business</div>
                <div class="designtitle">Using Business Intelligence To Get Insights Into Our Businesses</div>
                <div class="designdes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
            </div>
            <div class="design">
                <a href=/news/articles/article8><img src="/Images/Articles/article8Image.jpg"></a>
                <div class="datebox">
                    <div class="date">18</div>
                    <div class="month">Feb</div>
                </div>
                <div class="designheader">Business</div>
                <div class="designtitle">Apple Has Released New Products. Are They Any Good?</div>
                <div class="designdes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
            </div>
            <div class="design">
                <a href=/news/articles/article9><img src="/Images/Articles/article9Image.jpg"></a>
                <div class="datebox">
                    <div class="date">11</div>
                    <div class="month">Feb</div>
                </div>
                <div class="designheader">Business</div>
                <div class="designtitle">How To Improve Your Teams And Get A Better Result</div>
                <div class="designdes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
            </div>
        </div>
        <div class="buttonset">
            <button class="smallround"><</button>
            <button class="smallround">1</button>
            <button class="smallround">2</button>
            <button class="smallround">3</button>
            <button class="smallround">...</button>
            <button class="smallround">9</button>
            <button class="smallround">></button>
        </div>
    </div>
</section>