@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="subscribe-section">
    <div class="container">
        <div class="subscribe">Get News Updates By Signup </div>
        <form class="subscribe-form">
            <input type="email" placeholder="username@domain.com" required>
            <button type="submit">Subscribe <i class="fa-solid fa-arrow-up-right"></i></button>
        </form>
    </div>
    <div class=imagebackground>
    <img src="./Images/background/background-wavy-lines.svg">
    </div>
</section>